<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/loginstyle.css"/>
</head>
<body>
    <div class="loginbox">
        <h1>Login Here</h1>
        <img src="/static/assets/images/avatar2.png" class="avatar" alt="">
        <form action="login" method="post">
            {% csrf_token %}
            <p>Username</p>
            <input type='text' name='username' placeholder='Enter Username'><br>
            <p>Password</p>
            <input type='password' name='password' placeholder='Enter Password'><br>
            <input type="Submit" value="Login"><br>
            <a href="/accounts/register">Don't have an account?</a>

        </form>

        <div>
            {% for message in messages %}
            <h3>{{message}}</h3>
            
            {% endfor %}
        </div>
    </div>

</body>
</html>